<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580706438195-hl63sb1tmk5ld8pa7uut9jv41tn602he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580706438195-hl63sb1tmk5ld8pa7uut9jv41tn602he</string>
	<key>API_KEY</key>
	<string>AIzaSyBqyeLcf5oqUpzr3lFTWCKlBuP2rAbbgPA</string>
	<key>GCM_SENDER_ID</key>
	<string>580706438195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slydo.slydo</string>
	<key>PROJECT_ID</key>
	<string>slydo-94bb2</string>
	<key>STORAGE_BUCKET</key>
	<string>slydo-94bb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580706438195:ios:2a705569475c5aa60ce746</string>
	<key>DATABASE_URL</key>
	<string>https://slydo-94bb2.firebaseio.com</string>
</dict>
</plist>