<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809041130173-719m4tie7b55vv90cfc7l9bcpkmhcvvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809041130173-719m4tie7b55vv90cfc7l9bcpkmhcvvl</string>
	<key>API_KEY</key>
	<string>AIzaSyBtL938d5g98JwkVoukMeRtiqxoDVQSzvU</string>
	<key>GCM_SENDER_ID</key>
	<string>809041130173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iostest</string>
	<key>PROJECT_ID</key>
	<string>ios-test-55eb5</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-test-55eb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809041130173:ios:34490d3a57fe3d82db3dd4</string>
	<key>DATABASE_URL</key>
	<string>https://ios-test-55eb5.firebaseio.com</string>
</dict>
</plist>